.caption-container {
  display: flex;
  position: relative;
}
.caption-caption {
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 24px;
  max-width: 600px;
  line-height: 36px;
}
@media(max-width: 479px) {
  .caption-caption {
    font-size: 16px;
    line-height: 24px;
  }
}
