.component-container {
  display: flex;
  position: relative;
}
.component-link {
  width: 155px;
  height: 60px;
  display: flex;
  z-index: 100;
  position: relative;
  flex-direction: row;
  text-decoration: none;
}
@media(max-width: 479px) {
  .component-link {
    text-align: center;
  }
}
