.component3-container {
  display: flex;
  position: relative;
}
.component3-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
@media(max-width: 479px) {
  .component3-link {
    text-align: center;
  }
}
